.container_info{
    display: flex;
    width: 100%;
    /* background-color: red; */
    height: 80vh;
    margin-top: 5rem;
  }
  
  .container_info_sub1{
   /* background-color: black; */
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  
  .container_info_sub2{
    width:50%;
    margin: auto;
  }

  .container_info_sub2 img{
    object-fit: contain;
    width: 50rem;
  }

 .services_container{
    display:flex;
    margin-top: 0.4rem;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  
  .services{
    display:flex;
    justify-content: flex-start;
    font-size: 20px;
    align-content: center;
    color: rgb(101, 101, 101);
    background-color: rgb(230, 230, 230);
    place-items: center;
    border-radius: 10px;
    height: 5rem;
    width: 100%;
    margin-bottom: 1rem;
  }

.services p {
    margin:auto;
    font-size: 2rem;
}

.title_container{
    background-color: rgb(34, 34, 34);
    color:white;
    border-radius: 10px;
    width: 95%;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .services_icon{
    margin-left: 1rem;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
 
  h1{
    font-size: 4rem;
  }