.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 7rem;
}

.container_info{
  display: flex;
  width: 100%;
  background-color: red;
  height: 80vh;
}

.container_info_sub1{
 background-color: black;
 width: 50%;
}

.container_info_sub2{
  width:50%;
  background-color: blue;
}
