.subcontainer1{
    background-color: white;
    /* width: 65vw; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid gray;
    max-height: 150px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}