.logo {
  height: 64px;
}

.container {
  display: flex;
  width: 100%;
  padding: 10px;
  background: rgb(244, 244, 244);
  z-index: 100;
}

.center {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}