.button{
    position: relative;
    border:none;
    outline:none;
    font-size: 1.5rem;
    background-color:transparent;
    /* padding: 10px 15px; */
    overflow: hidden;
    transition: .5s;
}
.span{
    background: rgb(222,178,178);
    background: linear-gradient(90deg, rgba(222,178,178,1) 3%, rgba(185,171,171,1) 24%, rgba(176,177,218,1) 43%, rgba(185,138,138,1) 80%);
    width: 100%;
    height: 4px;
    position:absolute;
    bottom:0;
    left: -100%;
    transition: .3s ease;
}

.button:hover span:nth-child(1){
    left: 0;
}