.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 1px solid black;
  width: 350px;
  margin: 5px;
  padding: 5px;
}

.image {
  width: 100%;
}

.image:hover {
  transition: 0.4s;
  scale: 1.025;
  filter: invert(20%);
}

.detail {
  align-items: center;
  margin-top: auto;
  margin: 10px;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}

.description {
  font-size: 1em;
}

.price {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-style: italic;
}

.units_left {
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;  
}

.low_units_left {
  color: red;
  font-weight: bold;
}