.container {
  display: flex;
}

.paginated {
  display: block;
  
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 6px ;
  background-size: cover;
  min-height: 500px;
}