.container {
  display: flex;
  margin: 3rem auto auto auto;
  width: 100%;
}

.products {
  display: flex;
  width: 80%; 
  flex-wrap: wrap;
  margin: auto;
  /* justify-content: space-evenly; */
  /* background-size: cover; */
  /* min-height: 500px; */
  /* grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr) */
}

.filters{
  width:20%;
  margin-left: 1rem;
}