.mainContainer{
    padding-top: 10rem;
    display: flex
}

.main_img{    
    max-width: 60%;
}

.p{
    margin: auto;
    padding-right: 2rem;
}

.error{
    align-items: 'center';
    width: 400px;
    margin-right:'auto';
    margin-left: 'auto';
    /* margin-bottom: 10px; */
}