.container{
    padding: 2rem;
    border-radius: 1rem;
    width: 20rem;
}

.container h2{
    margin-bottom: 1.5rem;
}

.options_container{
    background-color: rgb(241, 239, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .8s ease-in-out;
    justify-content: center;
    height: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.active{
    height: 4rem;
}
.active_brand{
    height: 19rem;
}
.active_storage{
    height: 6rem;
}

.block_container_title{
    font-weight: 500;
    padding-bottom: .4rem;
    font-size: 1.2rem;
    border-bottom: 1.5px solid black;
    cursor: pointer;
    text-align: start;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.arrow_active{
    transform: rotate(180deg);
}

.container input {
    border:none
}
