.container{
    padding: 2rem;
    border-radius: 1rem;
    width: 16rem;
    background-color:white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.431);
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.input {

    border:none;
    background-color: transparent;
    margin-left:10px;
    font-weight: 400;
    transition: 0.2s;
    margin-top:10px;
    margin-bottom:5px;
}

.input:hover{
    background-color: rgba(76, 0, 255, 0.652);
    color:white;
    border-radius: 4px;
}

.input_active{
    background-color: rgb(76, 0, 255);
    color:white;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgb(156, 155, 155);
}

.container h2{
    margin-bottom: 1.5rem;
}

.options_container{
    background-color:rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .8s ease-in-out;
    justify-content: center;
    height: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.active{
    height: 6rem;
}
.active_brand{
    height: 22rem;
}
.active_storage{
    height: 8rem;
}
.active_ram{
    height: 8rem;
}

.block_container_title{
    font-weight: 500;
    padding-bottom: .4rem;
    font-size: 1.2rem;
    border-bottom: 1.5px solid black;
    cursor: pointer;
    text-align: start;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.arrow_active{
    transform: rotate(180deg);
}


.clear_button{
    background-color: transparent;
    border: none;
    font-weight: 600;
    margin-top: 1rem;
    outline: 1px solid rgb(76, 0, 255);
    border-radius: 8px;
    padding:8px;
    color:rgb(76, 0, 255);
    transition: all 0.8s;
}

.clear_button:hover{
    outline: none;
    background-color:rgb(76, 0, 255);
    color:white
}
.clear_button:active{
    transform: scale(.7);

}