.container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.confirmed {
  color: green;
  font-size: 1.2em;
  font-weight: 600;
}

.deleted {
  color: red;
  font-size: 1.2em;
  font-weight: 600;
}

.normal {
  font-size: 1.2em;
  font-weight: 600;
}
