/* Customize the label (the container) */
.label {
  display: inline-flex;
  position: relative;
  padding-left: 22px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 4px;
  height: 16px;
  width: 16px;
  background-color: rgb(181, 194, 200);
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  background-color: rgb(87, 43, 210);
}

/* When the checkbox is checked  */
.label input:checked ~ .checkmark {
  background-color: rgb(55, 55, 55);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label .checkmark:after {
  left: 6px;
  top: 1px;
  width: 3px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}