.mainContainer{
    padding-top: 10rem;
}

.containerOrder{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.tableContainer{
    padding: 20px;
}

.left{
    text-align: left;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
}