.Light {
  background: var(--Light-pagination-background-color);
  border: 2px solid var(--Light-pagination-border-color);
  color: var(--Light-pagination-text-color);
}

.Dark {
  background: var(--Dark-pagination-background-color);
  border: 2px solid var(--Dark-pagination-border-color);
  color: var(--Dark-pagination-text-color);
}

.Zen {
  background: var(--Zen-pagination-background-color);
  border: 2px solid var(--Zen-pagination-border-color);
  color: var(--Zen-pagination-text-color);
}

.Comp {
  background: var(--Comp-pagination-background-color);
  border: 2px solid var(--Comp-pagination-border-color);
  color: var(--Comp-pagination-text-color);
}

.container{
  border-radius: 15px;
  text-align: center;
  margin-bottom: 4px;
}

.container button {
  margin: 5px 1px 2px 1px;
  border: 2px solid #1A1A1A;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  min-height: 24px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}

.normalPage {
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-size: 1em;
}

.normalPage.Light {
  color: var(--Light-button2-text-color);
}

.normalPage.Dark {
  color: var(--Dark-button2-text-color);
}

.normalPage.Zen {
  color: var(--Zen-button2-text-color);
}

.normalPage.Comp {
  color: var(--Comp-button2-text-color);
}

.actualPage {
  width: 36px;
  height: 36px;
  font-size: 1.3em;
  transform: translateY(-2px);
}

.actualPage.Light {
  color: var(--Light-button2-text-color);
  background-color: var(--Light-button2-background-color);
  box-shadow: var(--Light-button2-selected-shadow);
}

.actualPage.Dark {
  color: var(--Dark-button2-text-color);
  background-color: var(--Dark-button2-background-color);
  box-shadow: var(--Dark-button2-selected-shadow);
}

.actualPage.Zen {
  color: var(--Zen-button2-text-color);
  background-color: var(--Zen-button2-background-color);
  box-shadow: var(--Zen-button2-selected-shadow);
}

.actualPage.Comp {
  color: var(--Comp-button2-text-color);
  background-color: var(--Comp-button2-background-color);
  box-shadow: var(--Comp-button2-selected-shadow);
}

.skipPage {
  width: 30px;
  height: 22px;
  background-color: transparent;
  font-size: .8em;
}

.skipPage.Light {
  color: var(--Light-button2-text-color);
}

.skipPage.Dark {
  color: var(--Dark-button2-text-color);
}

.skipPage.Zen {
  color: var(--Zen-button2-text-color);
}

.skipPage.Comp {
  color: var(--Comp-button2-text-color);
}

button:disabled {
  pointer-events: none;
}

button:hover {
  transform: translateY(-2px);
}

button:hover.Light {
  color: #fff;
  background-color: var(--Light-button2-hover-bgcolor);
  box-shadow: var(--Light-button2-hover-shadow) 0 8px 15px;
}

button:hover.Dark {
  color: var(--Dark-button2-text-color);
  background-color: var(--Dark-button2-hover-bgcolor);
  box-shadow: var(--Dark-button2-hover-shadow) 0 8px 15px;
}

button:hover.Zen {
  color: #fff;
  background-color: var(--Zen-button2-hover-bgcolor);
  box-shadow: var(--Zen-button2-hover-shadow) 0 8px 15px;
}

button:hover.Comp {
  color: #fff;
  background-color: var(--Comp-button2-hover-bgcolor);
  box-shadow: var(--Comp-button2-hover-shadow) 0 8px 15px;
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

@media (max-width: 375px) {
  .hideSkipPage {
    display: none;
  }
}