.main {
    display: flex;    
    margin-bottom: 1rem;
    padding: 0;
    gap: 0.5rem;
    position: sticky;
    border-top: 1px solid rgb(224, 224, 224);
    background-color: rgb(244, 244, 244);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    top: 0px;
    z-Index: 1
}



.separator{
    padding-right: 1rem;
    border-right: 1px solid #000;
    margin-right: 1rem
}

.cart {
    position: absolute;
    right: 2rem;
}